@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.flexDisplayCart {

    display: flex;
    align-items: center;
    justify-content: center;

}

.sectionCart {
    
    width: 100vw;
    flex-direction: column;

}

.boxCart {

    width: 60vw;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 10px;
    box-shadow: -2px 5px 8px #92929255;
    justify-content: space-between;

}

.lineBoxCardProduct {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lineBoxCardProduct h4, h5, h3{

    padding: 0px 0px;
    text-align: left;

}

.lineBoxCardProduct h3 {

    color: #434f38;

}

.lineBoxCardProduct h4 {

    color: #434f38;

}

.lineBoxCardProduct h5 {

    color: rgb(175, 175, 175);

}

.lineBoxCardProduct input {

    margin-left: .5rem;

}

.lineBoxCardProduct button {

    margin-right: .5rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #662210;

}

.nameProductInCart {

    width: 23vw;

}

.infoProductInCart {

    width: 60vw;

}

.imgProductCart {

    width: 50px;

}

.imgRemoveIconCart {

    width: 20px;
    cursor: pointer;

}

.CartPage {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.textIntroCart {

    margin-top: 13vh;
    margin-bottom: 8vh;
    text-align: center;

}

.textIntroCart p{

    color: rgb(175, 175, 175);
    font-size: 8pt;

}

.paymentSelect {

    width: 52vw;
    border: none;
    padding: 25px;
    color: white;
    font-size: 11pt;
    margin: 15px 0px;
    border-radius: 10px;
    background-color: #ffc05c;
    justify-content: space-between;
    /* box-shadow: -2px 5px 8px #92929255; */

}

.clientNoteInput {

    width: 50vw;
    border: none;
    color: white;
    font-size: 11pt;
    margin: 15px 0px;
    padding: 25px 15px;
    border-radius: 10px;
    background-color: #ffc05c;
    /* box-shadow: -2px 5px 8px #92929255; */
    justify-content: space-between;

}

::placeholder {

    color: rgb(151, 151, 151);
    font-size: 11pt;

}

.checkOut {

    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 15vh;

}

.checkOut a {

    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 15px;
    border-radius: 10px;
    background-color: #662210;

}

@media screen and (max-width: 768px) {

    .boxCart {

        width: 80%;

    }

    .textIntroCart {

        margin-top: 3vh;
        margin-bottom: 2vh;

    }

    .textIntroCart p{

        font-size: 11pt;

    }

    .lineBoxCardProduct h4, h5, h3{

        padding: 8px;
    
    }

    .lineBoxCardProduct h3{

        font-size: 10pt;
    
    }

    .lineBoxCardProduct h4{

        font-size: 10pt;
        padding: 0px 15px 0px 0px;
    
    }

    .lineBoxCardProduct h5{

        font-size: 7pt;
    
    }

    .lineBoxCardProduct {
        display: flex;
        flex-wrap: nowrap;
    }

    .lineBoxCardProduct input {

        width: 70%;
    
    }

    .lineBoxCardProduct button {

        padding: 7px;
        font-size: .8rem;

    }

    .imgProductCart {

        width: 40px;

    }

    .imgRemoveIconCart {

        width: 25px;

    }

    .emptyCart {

        width: 80%;
        text-align: center;
        font-size: 12pt;

    }

    .paymentSelect {

        width: 88vw;

    }

    .clientNoteInput {

        width: 80%;
        border: none;
        padding: 25px 15px;
        margin: 15px 0px;
        border-radius: 10px;
        box-shadow: -2px 5px 8px #92929255;
        justify-content: space-between;
    
    }

    .checkOut {

        margin-top: 12vw;

    }

}
