.ProviderProducts {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#mainProviderProducts {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2vh;

}

.titleProviderProducts {

    width: 95%;
    text-align: center;
    margin-top: 6vh;

}

.titleProviderProducts  h1 {
    margin-bottom: 45px;
}

.optionProviderProducts {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.optionProviderProducts a {

    color: white;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #662210;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

.providerProductsOptions {

    width: 80%;
    display: flex;
    flex-direction: column;

}

.providerProductsOptions h2 {

    margin: 0 auto;
    padding: none;

}

.providerProductsOptions fieldset  {

    width: 100%;
    padding: 3vh 0;
    /* color: white; */
    
}

.providerProductsOptions fieldset legend {
/* 
    width: 100%;
    text-align: center; */
    margin-top: 50px;
    
}

.providerProductsOptions fieldset a { 

    color: white;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #662210;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

 }

.providerProductsOptions input {

    width: 60%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: #ffc05c;

}

.providerProductsOptions fieldset select {

    width: 63%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.providerProductsOptions fieldset option {

    padding: 10px;

}

.providerProductsOptions ::placeholder {

    color: white;

}

@media only screen and (max-width: 940px) {

    .titleProviderProducts {
        font-size: 75%;
        width: 90%;
        margin-top: 3vh;
    }

    .providerProductsOptions {
        width: 80%;
    }

}

@media screen and (max-width: 768px) {
     
    .providerProductsOptions fieldset select {
        width: 70%;
    }

  }