.SigIn {

    display: flex;
    align-items: center;
    flex-direction: column;

}

#mainSignIn {

    width: 100%;
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.formsSignIn img {

    display:flex;
    margin: auto;
    width: 170px;
    align-items: center;
    justify-content: center;

}

.formsSignIn input {

    color: white;
    border-radius: 25px;
    background-color: #662210;

}

.formsSignIn input[type="date"] {
    text-align: right;
}
  
.formsSignIn input[type="date"]:before {
    color: white;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }

.formsSignIn select {

    width: 108%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.formsSignIn option {

    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.titleSignIn {

    width: 100%;
    display: flex;
    justify-content: center;

}

.haveAccount {

    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(175, 175, 175);

}

.haveAccount a {

    font-size: 12pt;
    color: rgb(65, 65, 65);
    text-decoration: none;
    margin-left: 5px;

}

.buttonsFormSignIn {

    width: 100%;
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttonsFormSignIn a {

    padding: 15px;
    color: white;
    background-color: #662210;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.5);

}

@media screen and (max-width: 768px) {

    #mainSignIn {

        width: 90%;
        margin-top: 6vh;

    }

    .formsSignIn {

        width: 90%;

    }

    .formsSignIn h1 {

        font-size: 16pt;
        margin: 0 auto;
        align-items: center;
        padding: 0 2.5rem;

    }

    .formsSignIn input {

        width: 75%;
        background-color: #662210;

    }

    .formsSignIn select {

        width: 90%;
    
    }

    .formsSignIn fieldset h2 {

        font-size: 12pt;
        margin-left: 2rem;

    }
    
}
