.modal{

    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 300;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

}

.modal main {

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.imageAndTitleModal {

    width: 270px;
    height: 270px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6vh;
    background-color: #662210;

}

.imageAndTitleModal img {

    width: 140px;

}

.imageAndTitleModal h1 {

    font-size: 17pt;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.lineBoxProductModal {

    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.lineBoxProductModal h3 { 

    font-size: 18pt;

}

.lineBoxProductModal img {

    width: 40px;

}

.modal main a { 

    padding: 10px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #662210;
    box-shadow: -2px 5px 8px #92929255;

}

.quantityOfProduct  {

    display: flex;
    align-items: center;

}

.quantityOfProduct p {

    font-size: 15pt;

}

.quantityOfProduct img {

    width: 20px;
    margin: 0px 5px;

}

@media screen and (max-width: 768px) {

    .modal main {

        width: 90%;
        box-shadow: none;

    }

    .imageAndTitleModal {

        width: 230px;
        height: 230px;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #662210;

    }

    .imageAndTitleModal img {

        width: 140px;

    }

    .imageAndTitleModal h1 {

        font-size: 17pt;
        display: flex;
        flex-wrap: wrap;
        text-align: center;

    }
    
    .modal main p {
    
        text-align: justify;
    
    }

    .lineBoxProductModal h3{

        color: #434f38;
        margin: 10px 0;

    }

    .lineBoxProductModal {

        flex-direction: column;
        height: auto;
        width: auto;

    }

    .amountItensModal {

        font-size: 9pt;

    }

    .itemDescModal {

        margin-top: 50px;

    }


}