@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.flexDisplayCart {

    display: flex;
    align-items: center;
    justify-content: center;

}

.sectionCart {
    
    width: 100vw;
    flex-direction: column;

}

.boxCart {

    width: 50vw;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 10px;
    box-shadow: -2px 5px 8px #92929255;
    justify-content: space-between;

}

.lineBoxCardProduct {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lineBoxCardProduct h4, h5, h3{

    padding: 0px 30px;

}

.boxCart img {

    width: 50px;

}

.CartPage {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.textIntroCart {

    margin-top: 13vh;
    margin-bottom: 8vh;
    text-align: center;

}

.textIntroCart p{

    color: rgb(175, 175, 175);
    font-size: 8pt;

}

.paymentSelect {

    width: 52vw;
    border: none;
    padding: 25px;
    margin: 15px 0px;
    border-radius: 10px;
    box-shadow: -2px 5px 8px #92929255;
    justify-content: space-between;

}

.checkOut {

    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 15vh;

}

.checkOut a {

    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 15px;
    border-radius: 10px;
    background-color: #662210;

}

@media screen and (max-width: 768px) {

    .boxCart {

        width: 80%;

    }

    .boxCart img {

        width: 40px;
    
    }

    .textIntroCart {

        margin-top: 3vh;
        margin-bottom: 2vh;

    }

    .lineBoxCardProduct h4, h5, h3{

        padding: 8px;
    
    }

    .lineBoxCardProduct h3{

        font-size: 10pt;
    
    }

    .lineBoxCardProduct h4{

        font-size: 10pt;
        padding-right: 15px;
    
    }

    .lineBoxCardProduct h5{

        font-size: 7pt;
    
    }

    .emptyCart {

        width: 80%;
        text-align: center;
        font-size: 12pt;

    }

    .paymentSelect {

        width: 90vw;

    }

    .checkOut {

        margin-top: 12vw;

    }

}
