.Admin {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#mainProvider {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5vh;

}

.titleAdmin {

    width: 100%;
    text-align: center;
    margin-top: 6vh;

}

.adminOptions {

    width: 60%;
    display: flex;
    flex-direction: column;

}

.adminOptions fieldset a { 

    color: white;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #662210;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

 }

.adminOptions input {

    width: 60%;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.adminOptions fieldset select {

    width: 64%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.adminOptions fieldset option {

    padding: 10px;

}