@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {

    overflow-x: hidden;

}

.App {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* filter: blur(15px); */
    

}

@font-face {
    font-family: 'Michael';
    src: url('../../fonts/Michael.otf');
  }

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../fonts/Gilroy-Light.otf');
  }

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../../fonts/Gilroy-ExtraBold.otf');
  }

.divModal {

    width: 100vw;
    position: relative;

}

.divModal span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 25px;
    left: 13%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #662210;

}

.introHome {

  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.filterProductsOptions {

    display: none;

}

#heroSection {

    min-width: 100vw;

}

.heroText {

    color: #662210;
    position: absolute;
    top: 2rem;
    font-family: 'Gilroy-Light', sans-serif;
    padding: 0 2rem;

}

.first-name {
    
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;

}

.second-name {

    font-size: 2.5rem;
    font-family: 'Michael', sans-serif;

}

.introHome img {

    object-fit: cover;
    width: 100%;
    height: 50vh;
    object-position: 0% 33%;

}

.borderImg {

    /* width: 100vw; */
    border: 5px solid #ffc05c;

}

.textIntroHome {

    color: #662210;

}

.tipHome {

    width: 80vw;
    text-align: center;
    font-size: 10pt;
    margin-top: 3vh;
    color: rgb(65, 65, 65, .5);

}

.sectionSearchResult {

    width: 100vw;
    margin-top: 2vh;

}

.divSearchResult {

    width: 76%;
    color: #662210;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.divSearchResult a {

    padding: 7px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    background-color: #434f38;

}

.containerHome {

    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.productsHome {

    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vh;

}

#sectionHome {

    max-width: 80vw;
    margin: 0 auto;
    column-count: 3;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 10px;

}

.boxHome {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    break-inside: avoid-column;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    /* cursor: pointer; */
    box-shadow: -2px 5px 8px #92929255;
}

.boxHome img {

    max-width: 40%;
    display: block;
    margin-right: 5px;
    border-radius: 10px;

}

.boxHome h3 {

    color: #662210;

}

.boxHome p {

    font-size: 9pt;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    text-indent: 1.5em;
    font-family: 'Roboto', sans-serif;

}

.infoDivHome {

    display: flex;
    align-items: center;

}

.infoDivHome img {

    width: 30%;
    margin-right: 10px;

}

.amountDiv {

    width: 78%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.amountDiv img {

    width: 20px;

}

.amountDiv > div {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

.amountDiv > div img {

    cursor: pointer;

}

.itemInfo {

    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rebeccapurple; */

}

.itemInfo h4 {

    margin: 0;
    color: #434f38;
    font-size: 14pt;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

}

.menuProductsHome {

    width: 20vw;
    /* box-shadow: 0px 0px 8px #92929255; */
    border-radius: 5px;
    padding-left: 10px;

}

.menuProductsHome .search {

    width: 100%;
    /* margin: 5vh 0; */
    /* background-color: #2B2B2B; */

}

.menuProductsHome .search ::placeholder {

    color: white;

}

.menuProductsHome .search input {

    width: 80%;
    height: 30px;
    padding: 3px;
    border: none;
    color: white;
    padding-left: 10px;
    border-radius: 20px;
    background-color: rgba(102, 34, 16, .8);
    /* background-color: rgba(0, 0, 0, 0.1); */

}

.filterProducts {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.filterProducts h4 {

    font-weight: normal;
    font-size: 14pt;
    color: #662210;

}

.filterProducts input :nth-child(1){

    margin-right: 3px;

}

.filterProducts ul {

    padding: 0;
    padding-left: 15px;
    border-radius: 10px;
    list-style-type: '-';

}

.filterProducts li {

    font-size: 10pt;
    margin: 7px 0px;
    cursor: pointer;
    list-style-type: '⇢';

}

.filtersInputs {

    width: 60%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.filtersInputs ::placeholder{

    color: white;

}

.filtersInputs input {

    width: 40%;
    height: 20px;
    padding: 3px;
    border: none;
    color: white;
    margin: 5px 0;
    padding-left: 7px;
    border-radius: 20px;
    background-color: rgba(102, 34, 16, .8);
    /* background-color: rgba(0, 0, 0, 0.1); */

}

.ProductsPage {
    display: flex;
    flex-direction: row;
}

.areaLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balloonHome {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    width: 80%;
    padding: 8px;
    color: white;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgba(102, 34, 16, .8);

}

.insideOfBalloonHome {

    width: 90%;

}

.insideOfBalloonHome p{

    font-size: 10pt;

}

.buttonFinishOrder {

    position: fixed;
    z-index: 9;
    bottom: 20px;
    left: 25px;

}

.buttonFinishOrder a {

    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    background-color: #662210;

}

@media screen and (max-width: 768px) {

    .containerHome {

        flex-direction: column;
        align-items: center;

    }

    .productsHome {

        width: 100vw;
        padding: 0;

    }

    .filterProductsOptions {

        width: 100vw;
        /* height: 45px; */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        background-color: #662210;
        cursor: pointer;
    
    }

    .search {

        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .search h1 {

        font-size: 12pt;
    }

    .search input {

        width: 20%;

    }

    .sectionMobileSearch {

        width: 100vw;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;
        border-bottom: 10px solid rgb(255, 192, 92);

    }

    .menuProductsHomeMobile {
        
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .filterProductsMobile {

        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        /* background-color: blue; */

    }

    .filterProductsMobile input {

        width: 50%;
        height: 30px;
        padding: 3px;
        border: none;
        margin: 5px 0;
        color: white;
        padding-left: 7px;
        border-radius: 20px;
        background-color: rgba(102, 34, 16, .8);
    
    }

    .filterProductsMobile ::placeholder {

        color: white;

    }

    .filtersInputsMobile {

        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */

    }

    .searchMobile {

        width: 100%;
        
    }

    .searchMobile input{

        width: 97%;
        
    }

    .divSearchResult {

        width: 95%;
        font-size: 11pt;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }


    #sectionHome {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2vh;
        column-count: 1;
        max-width: 100vw;
        
    }

    .boxHome {

        width: 75%;
        max-width: 90%;
        margin: 15px 0px;
        box-shadow: 0px 3px 8px #92929255;
        padding: 20px;
        
    }

    .boxHome img {

        display: flex;
        max-width: 40%;
        border-radius: 10px;
        left: 0;

    }

    .itemInfo {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;

    }

    .itemInfo h3 {

        font-size: 16px;
        text-align: center;

    }

    .itemInfo h4 {

        font-size: 18px;

    }

    .menuProductsHome {

        display: none;

    }

    .buttonFinishOrder {

        left: auto;

    }

}
