.ClientListPage {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ClientListPage main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3vh;

}

.ClientListPage main span {

    width: 80%;
    text-align: center;
    color:rgba(70, 70, 70, 0.6)

}

.divModalUser {

    width: 100vw;
    position: relative;

}

.divModalUser span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 30px;
    left: 65%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #662210;

}

.filterName h3 {
    
    margin-top: 3vh;
    text-align: center

}

.searchName input {

    width: 25vw;
    height: 3vw;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffc05c;

}

.divSearchNameResult a {

    display: flex;
    color: white;
    padding: 15px;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #662210;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    justify-content: center;
    font-weight: 700;

}

.boxClientList {

    width: 80%;
    color: white;
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #434f38;
    cursor:pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.boxClientList > div {

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.boxClientList p {

    text-align: left;

}

@media screen and (max-width: 768px) {

    .searchName input {

        width: 65vw;
        height: 5vh;

    }

    .divModalUser span {

        top: 10px;
        left: 78%;

    }

    .boxClientList {

        flex-direction: column;

    }

    .boxClientList h3{

        margin: 5px;

    }

    .boxClientList > div {

        width: 100%;
        /* padding: 0; */
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

    }

    .boxClientList > div p {

        margin: 7px;

    }


}