.Reports {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Reports a h3{

    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #662210;

}

.boxSallerReports {

    display: flex;
    padding: 10px;
    margin: 10px 0;
    min-width: 60vw;
    max-width: 80vw;
    color: #662210;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffc05c;

}

.boxSallerReports p {

    margin-left: 8px;
    font-size: 10pt;

}

.boxSallerReports h4 > span {

    color: aliceblue;

}

.boxSallerReports > div {

    display: flex;
    align-items: center;

}

@media screen and (max-width: 768px) {

    .boxSallerReports > div{

        /* width: 100%; */
        /* background-color: rebeccapurple; */
        flex-direction: column;
        align-items: flex-start;

    }

}