.Provider {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#mainAdmin {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2vh;

}

.divHistory span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 160px;
    right: 12%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #662210;

}

.titleProvider {

    width: 95%;
    text-align: center;
    margin-top: 6vh;

}

.titleProvider  h1 {
    margin-bottom: 45px;
}

.btn-style {

    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.btn-style span{

    color: white;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #662210;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    font-weight: 700;
    justify-content: space-between;

}

.btn-style a {

    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 1rem auto;
    cursor: pointer;
    background-color: #662210;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    font-weight: 700;

}

.providerOptions {

    width: 60%;
    display: flex;
    flex-direction: column;

}

.providerOptions h2 {

    margin: 0 auto;
    padding: none;

}

.providerOptions fieldset legend {

    margin-top: 50px;
    
}

.providerOptions fieldset a { 

    color: white;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #662210;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

 }

.providerOptions input {

    width: 60%;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.providerOptions fieldset select {

    width: 64%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 10px 0;
    background-color: white;

}

.providerOptions fieldset option {

    padding: 10px;

}


@media only screen and (max-width: 940px) {

    .titleProvider {
        font-size: 75%;
        width: 90%;
        margin-top: 3vh;
    }

    .providerOptions {
        width: 80%;
    }

}

@media screen and (max-width: 768px) {
     
    .providerOptions fieldset select {
        width: 70%;
    }

  }