.modalBuyInfo{

    width: 50%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 300;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

}

.modalBuyInfo main {

    width: 86%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.buyInfoTitle {

    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    top: 0

}

.buyInfoTitle h3, h4 {

    text-align: center;

}

.buyInfoTitle h2 {

    margin-top: 4rem;

}

.productList li {

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 768px) {

    .buyModal main {

        width: 20%;
    
    }

    .buyInfo {

        width: 50vw;
        margin-top: 2rem;

    }

}