.Register {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#mainRegister {

    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 0;

}

.formsRegister {
    
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
    /* box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.349); */

}

.titleSignIn h1{

    color: #662210;

}

.formsRegister input {

    border: none;
    padding: 15px;
    margin: 10px 0;
    color: white;
    background-color: #662210;
    border-radius: 5px;
}

.formsRegister ::placeholder {
    
    color: white;

}

.buttonsFormRegister {

    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.buttonsFormRegister a {

    color: black;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

}

#enterButtonSignIn {

    color: white;
    border-radius: 8px;
    background-color: #662210;

}

@media screen and (max-width: 768px) {
    
    .titleSignIn h1{

        font-size: 18pt;

    }

    .haveAccount{

        font-size: 9pt;

    }

    .formsRegister fieldset {

        margin-top: 30px;

    }

}