header {
	width: 100vw;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;

    .bigheaderDiv {
        background-image: url(../../img/visualChanges/Barra_up.png);
        height: 600px;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;

        .logoDiv1 {
            display: flex;
            justify-content: center;
            align-items: center;
			flex-direction: column;
            width: 100%;
			height: 40%;

            img {
                height: 45vh;
            }

			article {

				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				height: 5vh;

				h1 {
					font-size: 1em;
					color: #FFF;
				}
			}
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
			margin: 0 0 0 20vw;

            ul {
                display: flex;
                flex-direction: row;
				justify-content: center;
				align-items: center;
                width: 100%;

                li {
                    list-style: none;
                    margin: 0 1vh;

                    a {
                        text-decoration: none;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
	header {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		overflow-x: hidden;
	
		.bigheaderDiv {
			background-image: url(../../img/visualChanges/Barra_up.png);
			height: 580px;
			width: 100vw;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
	
			.logoDiv1 {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				img {
					height: 20vh;
				}
				article {
	
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 25vh;
	
					h1 {
						font-size: .8em;
						color: #FFF;
						text-align: center;
					}
				}
			}
	
			.menu {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin: 0 0 0 0;
	
				ul {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding: 0;
	
					li {
						list-style: none;
						margin: 0 1vh;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
	
						a {
							text-decoration: none;
							color: #FFF;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) and (orientation: landscape) {

	header {

		.bigheaderDiv {
	
			.logoDiv1 {
			
				img {
					height: 40vh;
				}
				
				article {
	
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 25vh;
	
					h1 {
						font-size: 1.2em;
						color: #FFF;
						text-align: center;
					}
				}
			}
	
			.menu {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin: 0 0 0 0;
	
				ul {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding: 0;
	
					li {
						list-style: none;
						margin: 0 1vh;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
	
						a {
							text-decoration: none;
							color: #FFF;
						}
					}
				}
			}
		}
	}

}
	