@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {

    overflow-x: hidden;

}

.App {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    

}

.containerProvider {

    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.productsProvider {

    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vh;

}

.requestOption fieldset legend {

    align-items: center;
    text-align: center;

}

.requestOption fieldset legend h1 {

    line-height: 0;
    margin-bottom: 2.5rem;

}

.requestOption fieldset select {

    width: 40%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    padding: 15px;
    margin: 15px 0px 45px 0px;
    background-color: white;

}

.requestOption fieldset option {

    padding: 10px;

}

#sectionProvider {

    max-width: 80vw;
    margin: 0 auto;
    column-count: 3;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 10px;

}

.boxProducts {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    break-inside: avoid-column;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0px;
    color: rgb(0, 0, 0);
    box-shadow: -2px 5px 8px #92929255;

}

.boxProducts:nth-child(1) {

    margin-top: 0;

}

.divInfo {

    display: flex;
    align-items: center;

}

.boxProducts p {

    font-size: 11pt;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    text-indent: 1.5em;
    font-family: 'Roboto', sans-serif;

}

.divInfo img {

    width: 30%;
    margin-right: 10px;

}

.productInfo h4 {

   line-height: 1.5rem;
   color: #662210;

}

.providerAmountDiv {

    width: 78%;
    display: flex;
    user-select: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.providerAmountDiv img {

    width: 20px;

}

.providerAmountDiv > div {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    

}

.providerAmountDiv > div img {

    cursor: pointer;

}

.providerAmountDiv > div span {

    /* padding: 15px; */
    width: 25px;
    height: 25px;
    display: flex;
    cursor: pointer;
    color: white;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #662210;

}

.buttonFinishOrder {

    margin-left: 2rem;
    position: fixed;
    z-index: 9;
    bottom: 20px;
    /* left: 25px; */

}

.buttonFinishOrder a {

    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    background-color: #662210;

}


@media screen and (max-width: 768px) {

    .containerProviderRequest {

        flex-direction: column;
        align-items: center;

    }

    .productsProvider {

        width: 100vw;
        padding: 0;

    }

    .requestOption fieldset h5 {
        
        text-align: center;

    }

    .requestOption fieldset legend h1 {

        line-height: 2rem;
        margin: 0;

    }

    .requestOption fieldset select {

        width: 70%;

    }

    #sectionProvider {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2vh;
        column-count: 1;
        max-width: 100vw;
        
    }

    .boxProducts {

        width: 75%;
        max-width: 90%;
        margin: 15px 0px;
        box-shadow: 0px 3px 8px #92929255;
        padding: 20px;
        
    }

    .boxProducts img {

        display: flex;
        max-width: 40%;
        border-radius: 10px;
        left: 0;

    }

    .buttonFinishOrder {

        left: auto;

    }

}
