@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.historyPage {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.historyPage main {

    column-count: 3;
    margin: 20px;
    
}

.boxHistory {

    padding: 10px;
    color: white;
    margin: 10px 0;
    border-radius: 10px;
    break-inside: avoid-column;
    background-color: #434f38;
    cursor: pointer;
    text-align: center;

}

.historyPage main > div:nth-child(1) {

    margin-top: 0;

}

.textHistory h1 {

    margin-top: 8vh;
    font-size: 2rem;
    margin: 0 auto;

}

.listSchedule {

    margin-top: 3rem;

}

.divBuyInfo span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 155px;
    right: 26%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #662210;

}

@media screen and (max-width: 768px) {

    .historyPage main {

        column-count: 1;

    }

    .textHistory {

        text-align: center;
        width: 95vw;

    }

    .textHistory h4 {

        line-height: 1rem;

    }

    .textHistory h1{

        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        margin-top: -2rem;

    }

    .divBuyInfo span{

        right: 10%;
        top: 21%;

    }

}