@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#sectionHistory {
    
    width: 100vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textHistory {

    width: 100vw;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

}

.textHistory p{

    color: rgba(0, 0, 0, 0.7)

}

.boxHistory {

    width: 40vw;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 8px 5px 4px #92929255;
    justify-content: space-between;
    margin-bottom: 2rem;
    border: 1px solid #000;
    cursor: pointer;

}

.lineBoxCardHistory {

    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem 0;

}

.lineBoxCardHistory b {

    margin-left: .4rem;

}


.divBuyInfo {

    width: 100vw;
    position: relative;

}

.divBuyInfo span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 25px;
    right: 27%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #662210;

}

@media screen and (max-width: 768px) {

    .textHistory {

        width: 85vw;

    }

    .textHistory h2 {

        font-size: 22px;

    }

    .boxHistory {

        width: 80%;

    }


}