.historyModal{

    width: 80%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 300;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);

}

.historyModal main {

    width: 86%;
    display: grid;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 300px 300px 300px;

}

.providerInfo {

    color: #000;
    margin: 2rem;
  
}

.providerTitle {

    text-align: center;
    text-transform: uppercase;

}

.providerCard {

    width: 15vw;
    background-color: #727f26;
    border-radius: 25px;
    padding: 2rem;

}

@media screen and (max-width: 768px) {

    .historyModal main {

        width: 100%;
        display: grid;
        align-items: center;
        grid-template-rows: auto;
        grid-template-columns: 150px
    
    }

    .providerCard {

        width: 50vw;
        margin-top: 2rem;

    }

}