.Admin {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#mainAdmin {

    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.titleAdmin {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6vh;

}

.optionAdminPage {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.optionAdminPage ul{

    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;

}

.optionAdminPage li{

    padding: 20px;
    box-shadow: 0px 0px 8px rgba(160, 160, 160, 0.35);
    margin: 20px 0;
    border-radius: 10px;

}

.optionAdminPage li a{

    color: black;
    text-decoration: none;

}

@media screen and (max-width: 768px) {

    .titleAdmin {

        width: 80%;

    }

    .titleAdmin h1{

        width: 80%;
        font-size: 15pt;

    }

    .titleAdmin h3{

        width: 80%;
        font-size: 11pt;

    }

}